body{
     margin: 0 auto;
     text-align: center;
}
.block{
     width: 20px;
     height: 20px;
     margin: 0px 0px 0px 0px;
     padding: 0px;
     float: left;
     border: 1px solid black;
}
.block_black{
     background: black;
     border: 1px solid white;
     color: white;
}
.originBlockBox{
     width: 220px;
     height: 220px;
     border: 2px solid blue;
     margin: 0 auto;
}
.blockBox_div{
     width: 705px;
     margin: 0 auto;
     padding: 0px;
}
.blockBox{
     width: 220px;
     height: 220px;
     border: 2px solid blue;
     margin: 5px 5px;
     display: inline-block;
}
.title{
     color: blue;
     font-size: 20px;
     margin: 0 auto;
     font-weight: bold;
     padding-top: 10px;
     padding-bottom: 10px;
     clear: both;
}